.keyboard {
  font-size: 1.25rem;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .keyRow {
    display: flex;
    gap: 6px;
    justify-content: center;
  }

  .key {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #818384;
    border-radius: 5px;
    width: 40px;
    height: 60px;
    font-weight: 600;
    transition: background-color 0.3s linear;
    cursor: pointer;

    &--absent {
      background-color: #3a3a3c;
    }

    &--present {
      background-color: #b59f3b;
    }

    &--correct {
      background-color: #538d4e;
    }
  }

  .enter,
  .backspace {
    font-size: 0.75rem;
    width: 60px;
  }
}

@media only screen and (max-width: 700px) {
  .keyboard {
    font-size: 1rem;
    gap: 6px;

    .keyRow {
      gap: 4px;
    }

    .key {
      width: 30px;
      height: 40px;
    }

    .enter,
    .backspace {
      font-size: 0.75rem;
      width: 60px;
    }
  }
}
